/***<Content-1>****************************************************************************************************************/
.main-block {
	position: relative;
	margin: 0px 0px 90px 0px;
	&__container {
	}
	&__body {
		padding: 240px 0px 150px 0px;
		position: relative;
		z-index: 5;
	}
	&__title {
		@include fontz(3.9rem, 700, #fffbfb);
		margin: 0px 0px 40px 0px;
	}

	&__text {
		@include fontz(2.8rem, 700, #fffbfb);
		margin: 0px 0px 40px 0px;
	}

	&__buttons {
	}

	&__button {
		&:hover {
			text-decoration: none;
			color: #fffbfb;
		}
	}

	&__bgimage {
		position: absolute;
		width: 820px;
		height: 610px;
		top: 20%;
		left: 40%;
	}
}
/*...Display-adapt......................................................................................................................................*/
@media (min-width: 2000px) {
	.main-block {
		&__bgimage {
			left: 45%;
		}
	}
}
@media (max-width: 1366px) {
	.main-block {
		margin: 0px 0px 20px 0px;
		&__body {
			padding: 150px 0px 60px 0px;
		}
		&__title {
			@include fontz(2.8rem, 700, #fffbfb);
			margin: 0px 0px 30px 0px;
		}

		&__text {
			@include fontz(2.16rem, 700, #fffbfb);
			margin: 0px 0px 30px 0px;
		}
		&__bgimage {
			width: 533px;
			height: 396.5px;
		}
	}
}
@media (max-width: 1024px) {
	.main-block {
		margin: 0px 0px 10px 0px;
		&__body {
			padding: 120px 0px 50px 0px;
		}
		&__title {
			@include fontz(2.2em, 700, #fffbfb);
			margin: 0px 0px 25px 0px;
		}

		&__text {
			@include fontz(1.4rem, 700, #fffbfb);
			margin: 0px 0px 25px 0px;
		}
		&__bgimage {
			width: 400px;
			height: 297px;
			top: 30%;
			left: 45%;
		}
	}
}
@media (max-width: 768px) {
	.main-block {
		margin: 0px 0px 10px 0px;
		&__title {
			@include fontz(2.2em, 700, #fffbfb);
			margin: 0px 0px 25px 0px;
		}

		&__text {
			@include fontz(1.4rem, 700, #fffbfb);
			margin: 0px 0px 25px 0px;
		}
		&__bgimage {
			width: 320px;
			height: 237.5px;
			top: 35%;
			left: 45%;
		}
	}
}
@media (max-width: 610px) {
	.main-block {
		display: flex;
		flex-direction: column-reverse;
		&__body {
			text-align: center;
		}
		&__title {
			@include fontz(1.6em, 700, #fffbfb);
			margin: 0px 0px 25px 0px;
		}

		&__text {
			@include fontz(1.2rem, 700, #fffbfb);
			margin: 0px 0px 25px 0px;
		}
		&__bgimage {
			position: relative;
			margin: 0 auto;
			width: 320px;
			height: 237.5px;
			top: 120px;
			left: 0;
		}
	}
}
@media (max-width: 360px) {
	.main-block {
		&__body {
			padding: 120px 0px 20px 0;
			line-height: 130%;
		}
		&__title {
			@include fontz(1.3em, 700, #fffbfb);
			margin: 0px 0px 20px 0px;
		}

		&__text {
			@include fontz(1.2rem, 700, #fffbfb);
			margin: 0px 0px 20px 0px;
		}
	}
}
/*....</Display-adapt>.....................................................................................................................................*/
/***</Content-1>****************************************************************************************************************/

/***<Content-2>****************************************************************************************************************/

.menu-block {
	position: relative;
	&__container {
		padding: 90px 15px;
	}
	&__body {
		display: flex;
		flex-direction: column;
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
	}

	&__item {
		flex: 0 1 25%;
		padding: 0px 15px;
		margin: 0px 0px 30px 0px;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

/*...Display-adapt......................................................................................................................................*/
@media (max-width: 1366px) {
	.menu-block {
		&__items {
			margin: 0px -11px;
		}
		&__item {
			padding: 0px 11px;
			margin: 0px 0px 22px 0px;
		}
	}
}
@media (max-width: 1024px) {
	.menu-block {
		&__items {
			margin: 0px -10px;
		}
		&__item {
			flex: 0 1 33.333%;
			padding: 0px 10px;
			margin: 0px 0px 20px 0px;
		}
	}
}
@media (max-width: 360px) {
	.menu-block {
		&__items {
		}
		&__item {
			flex: 0 1 50%;
			img {
			}
		}
	}
}
/*....</Display-adapt>.....................................................................................................................................*/
/***</Content-2>****************************************************************************************************************/

/***<Content-3>****************************************************************************************************************/
.about-block {
	position: relative;
	&__container {
		max-width: 1120px;
	}

	&__body {
		position: relative;
		z-index: 5;
		padding: 150px 0px 200px 0px;
		@include fontz(1rem, 400, #fff);
		line-height: 160%;
	}
	&__items {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	&__bgimage {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
.items {
	&__item {
		&:not(:last-child) {
			margin: 0px 0px 30px 0px;
		}
	}
}
.item {
	&__text {
		padding: 25px 30px;
		border-radius: 15px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(15px);
		overflow: auto;
	}

	&__content {
		display: flex;
		margin: 0px -15px;
	}
	&__wrapper {
		padding: 0px 15px;
	}
	&__column {
		padding: 40px;
		border-radius: 15px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(15px);
		overflow: auto;
	}

	&__sub-title {
		margin: 0px 0px 20px 0px;
		@include fontz(1.2rem, 700, #fff);
		line-height: inherit;
	}

	// &__text-column {
	// }
}

/*...Display-adapt......................................................................................................................................*/
@media (max-width: 1366px) {
	.about-block {
		&__container {
			max-width: 900px;
		}
		&__body {
			padding: 120px 0px 140px 0px;
			@include fontz(0.8rem, 400, #fff);
			line-height: 150%;
		}
	}
	.item {
		&__content {
			margin: 0px -12px;
		}
		&__wrapper {
			padding: 0px 12px;
		}
		&__sub-title {
			@include fontz(1.1rem, 600, #fff);
			line-height: inherit;
		}

		// &__text-column {
		// }
	}
}
@media (max-width: 1024px) {
	.about-block {
		&__container {
			max-width: 700px;
		}
		&__body {
			padding: 100px 0px;
			@include fontz(0.8rem, 400, #fff);
			line-height: 130%;
		}
	}
	.item {
		&__content {
			margin: 0px -10px;
		}
		&__wrapper {
			padding: 0px 10px;
		}
		&__column {
			padding: 32px 25px;
			min-height: 150px;
			max-height: 175px;
			overflow: auto;
		}
		&__sub-title {
			margin: 0px 0px 15px 0px;
			@include fontz(1.1rem, 500, #fff);
			line-height: inherit;
		}

		// &__text-column {
		// }
	}
}
@media (max-width: 768px) {
	.about-block {
		&__container {
			max-width: 700px;
		}
		&__body {
			padding: 100px 0px;
			@include fontz(0.8rem, 400, #fff);
			line-height: 150%;
		}
	}
	.item {
		&__text {
			padding: 20px;
		}
		&__content {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		}
		&__wrapper {
			margin: 0px 0px 5px 0px;
		}
		&__column {
			padding: 20px;
			min-height: 50px;
			overflow: auto;
		}
		&__sub-title {
			margin: 0px 0px 9px 0px;
			@include fontz(0.9rem, 500, #fff);
			line-height: inherit;
		}

		// &__text-column {
		// }
	}
}
@media (max-width: 360px) {
	.about-block {
		&__body {
			padding: 80px 0px;
			@include fontz(0.8rem, 400, #fff);
			line-height: 150%;
		}
	}
	.item {
		&__text {
			padding: 10px;
		}

		&__wrapper {
			margin: 0px 0px 5px 0px;
		}
		&__column {
			padding: 10px;
			min-height: 50px;
			overflow: auto;
		}
		&__sub-title {
			margin: 0px 0px 9px 0px;
			@include fontz(0.9rem, 500, #fff);
			line-height: inherit;
		}

		// &__text-column {
		// }
	}
}
/*....</Display-adapt>.....................................................................................................................................*/
/***</Content-3>****************************************************************************************************************/

/***<Content-4>****************************************************************************************************************/
.about-success {
	&__container {
	}

	&__body {
		display: flex;
		flex-direction: column;
		padding: 150px 0px;
		@include fontz(1rem, 400, #fff);
		line-height: 160%;
		margin: 0 auto;
	}
	&__about-success-items {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		margin: 0px -15px;
	}
}
// .about-success-items {
// }
.about-success-item {
	display: flex;
	flex-direction: column;
	padding: 0px 15px;
	flex: 0 0 33.333%;
	margin: 0px 0px 40px 0px;
	max-height: 200px;
	overflow: auto;
	&__block {
		display: flex;
		align-items: center;
		margin: 0px 0px 15px 0px;
	}
	&__img-block {
		margin: 0px 15px 0px 0px;
	}
	&__icon {
		width: 50px;
		height: 50px;
		font-size: 0.4rem;
		line-height: 100%;
		padding: 10px;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 50%;
		text-align: center;
	}

	&__title {
		@include fontz(1.2rem, 700, #fff);
		line-height: inherit;
		text-align: justify;
	}

	&__text {
		max-width: 400px;
		width: 100%;
	}
}

/*...Display-adapt......................................................................................................................................*/
@media (max-width: 1366px) {
	.about-success {
		&__body {
			padding: 120px 0px 140px 0px;
			@include fontz(0.8rem, 400, #fff);
			line-height: 130%;
		}
		&__about-success-items {
			margin: 0px -10px;
		}
	}
	// .about-success-items {
	// }
	.about-success-item {
		padding: 0px 10px;
		&__block {
			margin: 0px 0px 15px 0px;
		}

		&__icon {
		}

		&__title {
			max-width: 180px;
			@include fontz(1.1rem, 600, #fff);
		}
	}
}
@media (max-width: 1024px) {
	.about-success {
		&__body {
			padding: 105px 0px 115px 0px;
			@include fontz(0.8rem, 400, #fff);
			line-height: 130%;
		}
		&__about-success-items {
			margin: 0px -10px;
		}
	}
	// .about-success-items {
	// }
	.about-success-item {
		padding: 0px 10px;
		margin: 0px 0px 25px 0px;
		&__block {
			margin: 0px 0px 10px 0px;
		}

		&__title {
			@include fontz(1.1rem, 600, #fff);
		}
	}
}
@media (max-width: 768px) {
	.about-success {
		&__body {
			padding: 80px 0px;
			@include fontz(0.8rem, 400, #fff);
			line-height: 130%;
		}
		&__about-success-items {
			margin: 0px -10px;
		}
	}
	// .about-success-items {
	// }
	.about-success-item {
		padding: 0px 10px;
		flex: 0 1 50%;
		&__block {
			margin: 0px 0px 10px 0px;
		}
		&__title {
			@include fontz(1.1rem, 600, #fff);
		}
	}
}
@media (max-width: 420px) {
	.about-success {
		&__body {
			padding: 80px 0px;
			@include fontz(0.8rem, 400, #fff);
			line-height: 130%;
		}
		&__about-success-items {
			margin: 0px -5px;
		}
	}
	// .about-success-items {
	// }
	.about-success-item {
		padding: 0px 5px;
		margin: 0px 0px 25px 0px;
		flex: 0 1 100%;
		&__block {
			margin: 0px 0px 10px 0px;
		}
		&__title {
			@include fontz(1.1rem, 600, #fff);
		}
	}
}
/*....</Display-adapt>.....................................................................................................................................*/
/***</Content-4>****************************************************************************************************************/
/*....</

/***<Content-5>****************************************************************************************************************/
.slider-body {
	&__container {
	}
}
.review-slider {
	padding:  50px 0px 20px 0px;
	&__title {
	}

	&__wrapper {
	}

	&__slide {
	}

	&__review-item {
		display: flex;
	}
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.review-item {
	&__block {
		margin: 0px 20px 0px 0px;
	}

	&__image {
		margin: 0px 0px 10px 0px;
	}

	&__name {
		@include fontz(1em, 400, #fff);
		line-height: 130%;
		letter-spacing: 0.2px;
	}

	&__text {
		@include fontz(1rem, 400, #fff);
		line-height: 130%;
		letter-spacing: 1px;
	}
}
.swiper-scroll {
}

/*...Display-adapt......................................................................................................................................*/

/*....</Display-adapt>.....................................................................................................................................*/
/***</Content-5>****************************************************************************************************************/

/***<Content-6>****************************************************************************************************************/

/*...Display-adapt......................................................................................................................................*/

/*....</Display-adapt>.....................................................................................................................................*/
/***</Content-6>****************************************************************************************************************/

/***<Content-7>****************************************************************************************************************/

/*...Display-adapt......................................................................................................................................*/

/*....</Display-adapt>.....................................................................................................................................*/
/***</Content-7>****************************************************************************************************************/
